click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
fastapi==0.63.0
gunicorn==20.1.0
h11==0.12.0
idna==3.1
psycopg2==2.8.6
pydantic==1.8.1
pyngrok==5.0.5
PyYAML==5.4.1
starlette==0.13.6
typing-extensions==3.7.4.3
uuid==1.30
uvicorn==0.13.4
