@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: url("../images/email-pattern.png");
}

.brand-logo {
  font-family: "Yusei Magic", sans-serif;
}

nav {
  display: block;
}

.tags {
  font-size: 0.7rem;
  display: flex;
}

.tags > li {
  padding: 5px;
  border-radius: 35%;
  margin-right: 20px;
}

.card-title {
  width: 100%;
  background: rgba(129, 212, 250, 0.5);
}

/* .card{
    height: 90vh;
} */

#filter_menu {
  height: 100vh;
  padding: 0 2rem 2rem 2rem;
  position: sticky;
  top: 0;
}

.outline {
  border: 1px #03a9f4 solid;
}

.limit {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.space {
  margin: 1rem;
}

.switch {
  margin-top: 1rem;
}

h5 {
  margin-left: 3rem;
}
