@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: url("../images/email-pattern.png");
}

.brand-logo {
  font-family: "Yusei Magic", sans-serif;
}

nav {
  display: block;
}

.card-title {
  width: 100%;
  background: rgba(129, 212, 250, 0.5);
}

.outline {
  border: 1px #03a9f4 solid;
}

.tags {
  font-size: 0.7rem;
  display: flex;
}

.tags > li {
  padding: 5px;
  border-radius: 35%;
  margin-right: 20px;
}

.space {
  margin: 1rem;
}
